* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.header {
  padding: 16px 0;
  background-color: #e4beaf;
}

.wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.button {
  background: #cf6f49;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-weight: 300;
  color: white;
}

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo__circle {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-color: #cf6f49;
  border-radius: 35%;
}

.header__menu {
  display: flex;
  gap: 32px;
  margin-right: 25px;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
}

.menu__link div {
  display: flex;
}
.menu__list-item {
  list-style-type: none;
}

.header__button_cart {
  margin-right: 16px;
  background: white;
  border: 1px solid #e7e8e3;
  gap: 5px;
  color: #222;
}

.header__cart {
  display: flex;
  align-items: center;

  border: 1px solid #e7e8e3;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.info_wrapper {
  display: flex;
  height: 686px;
}

.info__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 50%;
  padding: 0 80px;
  background: #f5f5f2;
}

.info__text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 171px;
  height: 29px;
  background: #e7e8e3;
  border-radius: 32px;
  font-weight: 400;
  font-size: 14px;
}

.info__block h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
  color: #2a2c1f;
}

.info__block p {
  width: 500px;
  color: #65665c;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.info__search {
  display: flex;
  width: 480px;
  height: 50px;
}

.search__form {
  display: flex;
  width: 310px;
  padding: 9px 19px;
  margin-right: 16px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  align-items: center;
  gap: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #65665c;
  background: #ffffff;
}

.search__form img {
  width: 18px;
  height: 18px;
}

.search__button {
  width: 154px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.range_logo {
  height: 118px;
  align-items: flex-end;
  margin-bottom: 125px;
}

.range_logo span {
  width: 243px;
  height: 54px;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.range_logo img {
  width: 728px;
  height: 54px;
}

.content_box {
  flex-direction: column;
  margin-bottom: 128px;
}

.content_box h1 {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #2a2c1f;
}

.content_box > p {
  width: 754px;
  margin-bottom: 61px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #65665c;
  text-align: center;
}

.content_box__procedure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "grid grid grid";
  column-gap: 32px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 291px;
  padding: 0 33px;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.grid__image {
  display: flex;
  width: 48px;
  height: 48px;
  background: #fae8e1;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.grid span {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.grid p {
  width: 338px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #65665c;
}
