* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.header {
  padding: 16px 0;
  background-color: #e4beaf;
}

.wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.button {
  background: #cf6f49;
  border: 1px solid #cf6f49;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-family: "Roboto";
  font-weight: 300;
  color: white;
}

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo__circle {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background-color: #cf6f49;
  border-radius: 35%;
}

.header__menu {
  display: flex;
  gap: 32px;
  margin-right: 25px;
}

.menu__link {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
}

.menu__link div {
  display: flex;
}
.menu__list-item {
  list-style-type: none;
}

.header__button_cart {
  margin-right: 16px;
  background: white;
  border: 1px solid #e7e8e3;
  gap: 5px;
  color: #222;
}

.header__cart {
  display: flex;
  align-items: center;

  border: 1px solid #e7e8e3;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.cart_img {
}

.cart_name {
  font-family: Arial, Helvetica, sans-serif;
}

.find_text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.main__color {
  background-color: #f5f5f2;
}

.main_img {
}

.main__text {
  width: 171px;
  height: 29px;
  background: #e7e8e3;
  border-radius: 32px;
  margin: 160px 469px 20px 80px;
}

.main_p_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 141px;
  height: 21px;
  text-align: center;
  margin: 0px auto;
}

.title {
  margin: 0px 124px 21px 80px;
  width: 516px;
  height: 135px;
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
}

.title_p {
  width: 503px;
  height: 90px;
  margin: 0px 137px 21px 80px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.main__search-find {
  display: flex;
}

.main__search {
  width: 310px;
  height: 48px;
  margin: 0 16px 162px 80px;
  background: #ffffff;
  border: 1px solid #e7e8e3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.main__find {
  width: 154px;
  height: 50px;
  margin: 0 160px 160px 0;
  background: #cf6f49;
  border: 1px solid #cf6f49;
  border-radius: 6px;
}
